@{
    ViewData["Title"] = "Excel | University Excel";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <partial name="~/Views/Shared/Components/Navbar.cshtml">
            <!-- Header-->
            <header class="pt-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
                                <div class="badge bg-dark text-white mb-4"><div class="text-uppercase">Efectividad &middot; Comodidad &middot; Velocidad</div></div>
                                <div class="fs-4 fw-light text-muted">Agiliza tu Database</div>
                                <h2 class="fw-bolder mb-3"><span class="text-gradient d-inline">Exporta a Excel</span></h2>

                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-5">
                                    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" asp-controller="Excel" asp-action="ExportExcel">Exportar</a>
                                </div>

                                <h2 class="fw-bolder mb-3"><span class="text-gradient d-inline">Importa desde Excel</span></h2>

                                <form method="post" asp-controller="Excel" asp-action="ImportExcel" enctype="multipart/form-data">
                                    <div class="d-flex justify-content-center mb-3"><input class="form-control w-50" type="file" name="excel" id="excel"></div>

                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start">
                                        <button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Importar</button>
                                    </div>
                                </form>

                                @* <div class="mt-5">
                                    <div class="fs-3 fw-light text-muted mb-3">Prueba Mandar un Correo :o</div>
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" asp-controller="Home" asp-action="SendEmail">Mandar Correo</a>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>

                @* <div class="d-flex justify-content-center py-3">
                    <img src="~/assets/img/hero.png" alt="" height="220px">
                </div> *@
            </header>
        </main>
    </body>
</html>