@{
    ViewData["Title"] = "PDF | University Excel";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <partial name="~/Views/Shared/Components/Navbar.cshtml">
            <!-- Header-->
            <header class="pt-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
                                <div class="badge bg-dark text-white mb-4"><div class="text-uppercase">Rapidez &middot; Legibilidad &middot; Compatibilidad</div></div>
                                <div class="fs-3 fw-light text-muted">Agiliza tu PDF</div>
                                <h1 class="display-5 fw-bolder mb-5"><span class="text-gradient d-inline">Importa y exporta PDF</span></h1>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                    <a class="btn btn-danger btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" asp-asp-controller="Pdf" asp-action="ExportPDF" asp-route-id="1" >Exportar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center py-3">
                    <img src="~/assets/img/pdf.png" alt="" height="220px">
                </div>
            </header>
        </main>
    </body>
</html>